{% extends "client/navbar.html" %}

{% block content %}
    <br>

    {% if SubscriptionID %}
    
    {% else %}
        <div class="container bg-white shadow-md p-5 form-layout text-center">
            <h5> Browse subscription plans</h5>

            <hr>
            <p> Browse subscription plan</p>

            <a class="btn btn-success" type="button" href="{% url "subscription-plans" %}">
                >&nbsp; View Subscription plans
            </a>

        </div>
    {% endif %}
    <br>

    {% if SubscriptionID %}
        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5> Delete your subscription</h5>
            <hr>
            <p> Permanentry delete your subscription by clicking the delete button below: </p>
            <br>
            <a class="btn btn-danger" type="button" href="{% url "delete-subscription" SubscriptionID %}">
                > &nbsp; View Subscription plans
            </a>
        </div>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5> Update your subscription</h5>
            <hr>
            <p> Upgrade or Downgrade your subscription by clicking the button below: </p>
            <br>
            <a class="btn btn-info" type="button" href="{% url "update-subscription" SubscriptionID %}">
                > &nbsp; Update Subscription
            </a>
        </div>
    {% else %}
    {% endif %}

    <br>
{% endblock content %}