{% load static %}
<!DOCTYPE html>

    <html lang="en">
        <head>
          <title> Edenthought </title>
          <meta charset="utf-8" />
          <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
          <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="{% static '' %}">
        </head>

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
            <a class="navbar-brand main-heading"> 
              &nbsp; Edenthought 
            </a>
        
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
        
              <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">        
                <ul class="navbar-nav ms-auto">

                  &nbsp;     &nbsp;     &nbsp;
                  <li class="nav-item">
                    <a class="btn btn-secondary navbar-btn" type="button"  href="{% url '' %}">Register</a>
                  </li>

                  &nbsp;     &nbsp;     &nbsp; 
                  <li class="nav-item">
                    <a class="btn btn-secondary navbar-btn" type="button"  href="{% url '' %}">Login</a>
                  </li>

                  &nbsp;     &nbsp;     &nbsp;                   
                </ul>
              </div>
        </nav>

        <body>      
            <br>
            <br>
            <div class="text-center">
            <h5> Edenthought.... Subscribe for the most informative articles on the net!  </h5>
            <br>
            <p> Browse through our extensive collection of carefully curated content. </p>
              <br>
              <a class="btn btn-success" type="button"  href="{% url '' %}"> <i class="fa fa-angle-right" aria-hidden="true"></i> &nbsp; Get started today</a>
            </div> 
        </body>


        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        </script>

        <script src="{% static '' %}"></script>

    </html>