{% load static %}
<html lang="en">
    <head>
          <title> Edenthought | Password </title>
          <meta charset="utf-8" />
          <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
          <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Password Reset</h3>
        <p>
            Forgotten your password?
            Please enter your email address below, and we'll email you
            instructions for setting a new one.
        </p>
        <form method="POST" action="">
            {% csrf_token %}
            {{form}}

            <input type="submit" name="send email">
        </form>

    </div>
</html>