{% extends "writer/navbar.html" %}

{% block content %}
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Delete Article </h3>
        <hr>

        <p>You may delete article below: </p>

        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <br>

            <input class="btn btn-danger" type="submit" value="Delete article"/>

        </form>
        <br>

        <a href="{% url "my-articles" %}">Return to My Article</a>


    </div>
    <br>
{% endblock content %}